.contactContainer{
    width: 58vw;
    
}
.contactTitleContainer{
    margin-top: 3rem;
}

.contactTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #cacaca;
    margin-bottom: 2rem;
}

.contactTitleNumber{
    color: #64ffda;
    font-weight: 400;
}
.contactText{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0px;
    color: #cacaca;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    textarea {
        resize: none;
    }
}

.submitContainer{
    display: flex;
    width: 60vw;
    justify-content: center;
}

.requiredText{
    color: rgb(165, 10, 10);
    font-family: 'Montserrat',sans-serif;
}

.msgSent{
    width: 60vw;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #cacaca;
    font-family: 'Montserrat',sans-serif;
}