.main {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.whoiam {
  margin-left: 10rem;
  margin-top: 6rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: start;
  h1 {
    font-size: 5em;
    font-weight: 700;
    color: #F8F4E3;
    margin: 0;
  }
  h2{
    font-size: 5em;
    color: #f8f4e3d8;
    margin: 0;
  }
  p {
    font-size: 1.15em;
    color: #64ffda;
  }
}
p{
  color: #91ccbd46;
}