@media screen and (max-width: 1600px) {
  /* ABOUT ME */
  .aboutMe {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .projectsContainer {
    margin-top: 1rem;
  }
  .projectImg {
    width: 25rem;
    height: 15.6rem;
  }
}

@media screen and (max-width: 1400px) {
  /* HOME */

  .whoiam {
    margin-top: 4rem;
    margin-left: 10rem;
  }
  /* ABOUT ME */
  .aboutMe {
    padding-top: 0rem;
    padding-bottom: 3rem;
    .contactTitleContainer {
      margin-bottom: 1rem;
    }
  }
  .aboutMeContainer {
    width: 95%;
    margin-bottom: 0;
  }
  .aboutMe {
    padding-left: 5rem;
    padding-right: 5rem;
    background-size: 17.5rem 12.5rem;
    margin-right: 10rem;
  }
  .contactTitle {
    font-size: 1.8rem;
  }
  .whoiamDescription {
    margin: 0;
  }
  /* PROJECTS */
  .projectsContainer {
    margin-top: 0rem;
  }
  .projectImg {
    width: 25rem;
    height: 15.6rem;
  }
  /* CONTACT */
  .contactText {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 1250px) {
  /* NAV */
  .nav {
    margin-top: 1.1rem;
  }
  .navLinkNumber,
  .navLinkText {
    font-size: 0.85rem;
  }
  /* HOME */
  .whoiamHello {
    font-size: 1rem;
  }
  .whoiam > h1,
  .whoiam > h2 {
    font-size: 4rem;
  }
  .whoiamDescription {
    font-size: 1.05rem;
  }
  .whoiam > a > button {
    font-size: 0.7rem;
  }
  .social {
    width: 18px;
  }
  .socialEmail {
    font-size: 0.85rem;
  }
  /* ABOUT ME */

  .contactTitle {
    font-size: 1.5rem;
  }
  .whoiamDescription {
    font-size: 1rem;
    line-height: 20px;
  }
  /* CONTACT */
  .contactTitleContainer {
    margin-top: 1.2rem;
  }
  .contactText {
    font-size: 0.95rem;
  }
  .contactContainer {
    label {
      font-size: 0.95rem;
    }
  }
  .projectImg {
    width: 22rem;
    height: 13rem;
  }
  .projectTitle {
    font-size: 1.2rem;
  }
  .projectInfo {
    margin-top: 0;
  }
  .projectDescription {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1115px) {
  /* HOME */
  .whoiam {
    margin-left: 5rem;
    margin-right: 2rem;
  }
  /* ABOUT ME */
  .contactTitleContainer {
    margin-top: 1.5rem;
  }
  .aboutMe {
    margin-left: 5rem;
    max-height: fit-content;
  }
}

@media screen and (max-width: 962px) {
  .whoiam {
    h1 {
      font-size: 3.6rem;
    }
    h2 {
      font-size: 3.6rem;
      margin-bottom: 2rem;
    }
  }
  .nav {
    margin-right: 2rem;
  }
  .aboutMe {
    padding-right: 3rem;
    width: 85vw;
    margin-right: 5rem;
    background-size: 20vw 20vh;
  }
}

@media screen and (max-width: 800px) {
  .projectContainer{
    flex-direction: column;
  }
}

@media screen and (max-width: 636px) {
  .socialMediaContainer{
    margin-right: .5rem;
  }
  .homeContainer,.aboutMeContainer,.projectsContainer,.contactContainer{
    padding-bottom: 2rem;
  }
  .whoiam {
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    h1,
    h2 {
      font-size: 3rem;
    }
  }
  .techContainer {
    height: 10rem;
  }
  .nav {
    display: none;
    margin-top: 0rem;
    padding-top: 0rem;
    flex-direction: column;
    gap: 0rem;
    align-items: end;
    text-align: end;
  }
  .aboutMe {
    margin: 1rem 0 0 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .whoiamDescription {
    text-align: start;
  }
  .aboutMeContainer {
    .socialMediaContainer {
      display: none;
    }
  }
  .sandwichButton{
    display: flex;
  }
  .projectContainer{
    max-width: 90vw;
    align-items: center;
  }
}

@media screen and (max-width: 435px) {
  .contactTitle{
    font-size: 1.35rem;
  }
 .projectImg{
  width: 85vw;
  height: 35vh;
 }
 .projectInfo{
  max-width: 90vw;
 }
}

@media screen and (max-width: 300px){
  .projectImg{
    height: 25vh;
  }
  .contactTitle{
    font-size: 1.2rem;
  }
}