@media screen and (max-device-width: 1174px) {
  .nav {
    justify-content: center;
  }
  .githubLogo{
    left: 11.5rem;
  }
}
@media screen and (max-device-width: 1000px) {


}
@media screen and (max-device-width: 500px) {
  .nav {
    flex-wrap: wrap;
  }
  .main {
    min-height: 50vh;
  }
}
