.overlay {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.747);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 33;
}

.certificationImg {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 85vw;
        height: 90vh;
    }
}