@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-132px * 10))
    }
}

.skillCardContainer {
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.42);
    background-color: #212020;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0;
	overflow:hidden;
	position: relative;
	width: 50vw;
    &::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
}

.skillCard-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(132px * 20); /* 100px + 1rem each side */
}
.skillCard {
    display: flex;
    height: 100px;
    width: 100px;
    transition: transform 0.2s;
    padding: 1rem;
}

.stackTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #cacaca;
}

.certificationsCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height: fit-content;
}

.certificationCard {
    display: flex;
    height: fit-content;
    width: 50vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.25rem;
    background-color: #212020;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.42);
    border-right: 1.2px solid rgba(0, 0, 0, 0.42);
}

.certificationTitleContainer {
    width: 15vw;
}

.certificationTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #cacaca;
}